<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as tobuy">
      <h2>Add:</h2>
      <div>
        <input type="text" ng-model="tobuy.item_name" placeholder="Item name">
        <input type="text" ng-model="tobuy.item_quantity" placeholder="quantity">
        <button class="btn btn-default" ng-click="tobuy.add();">Add Item</button>
      </div>
      <div class="emptyMessage" ng-if="tobuy.error">
        {{ tobuy.error }}
      </div>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in tobuy.list">Buy {{ item.quantity }} {{ item.name }} <button class="btn btn-default" ng-click="tobuy.b($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div class="emptyMessage" ng-if="tobuy.list.length == 0">Everything is bought!</div>
     <button ng-click="tobuy.cleartobuylist()" ng-if="tobuy.list.length > 0" class="btn btn-default">Clear list</button>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.list">Bought {{ item.quantity }} {{ item.name }} <button class="btn btn-default" ng-click="bought.missclick($index);"><span></span> Oh,no! Missclick</button></li>
     </ul>
     <div class="emptyMessage" ng-if="bought.list.length == 0">Nothing bought yet.</div>
     <div>
       <button ng-click="bought.clearboughtlist()" ng-if="bought.list.length > 0" class="btn btn-default">Clear list</button>
     </div>
    </div>
  </div>
</div>

</body>
</html>
